{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Owner Dashboard</title>

      <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <script src="https://kit.fontawesome.com/9d508255d4.js" crossorigin="anonymous"></script>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

     <link rel="stylesheet" href="{% static 'owner/css/main.css' %}">
     <link rel="stylesheet" href="{% static 'owner/css/table.css' %}">

     <link rel="stylesheet" href="{% static 'owner/css/status.css' %}">
     <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

   </head>

</head>

<body>

    <div class="fristpage">

      <div class="container">

 

        <div class="progress-bar__container">

 

            <div class="progress-bar">

 

                <span class="progress-bar__text"></span>

 

            </div>

 

        </div>
    </div>
    <div class="card">
      <div class="cardbike">
        <div class="bike">
          <img src="{% static 'owner/img/bike.png' %}" alt="" srcset="">
          <div class="text" >Total Bikes <div>{{total_bikes}}</div> </div>
          
        </div>
        
      </div>
      <div class="cardcar">
        <div class="car">
          <img src="{% static 'owner/img/car.png' %}" alt="" srcset="">
          <div class="text" >Total cars <div>{{total_cars}}</div></div>

        </div>
        
      </div>
    </div>
  

        <div class="sidebar">

          <div class="logo-details">

        

              <div class="logo_name">Open Park</div>

              <i class='bx bx-menu' id="btn" ></i>

          </div>

          <ul class="nav-list">

          

            <li>

              <a href="#home-section">

                  <i class="fa-sharp fa-solid fa-house"></i>

                <span class="links_name">Home</span>

              </a>

               <span class="tooltip">Home</span>

            </li>

          

           <li>

             <a href="{% url 'my_car_bookings' %}">

              <i class="fa-solid fa-car"></i>

               <span class="links_name">Car</span>

             </a>

             <span class="tooltip">Car</span>

           </li>

          

           <li>

             <a href="#">

              <i class="fa-solid fa-bicycle"></i>

               <span class="links_name">bike</span>

             </a>

             <span class="tooltip">bike</span>

           </li>

 

           <li>

            <a href="#">

             <i class="fa-solid fa-book"></i>

              <span class="links_name">Active Booking</span>

            </a>

            <span class="tooltip">Active Booking </span>

          </li>

           

          

           <li class="profile">

               <div class="profile-details">

                <div class="profileimg"> <i class="fa-solid fa-user"  ></i> </div>

                

                 <div class="name_job">

                   <div class="name">Ram</div>

                  

                 </div>

               </div>

               <i class='bx bx-log-out' id="log_out" ></i>

           </li>

          </ul>

        </div>

        <div class="home-section">
          <div class="tablegrids">
            <div class="tablegrid">

              <!-- Create your table here -->

              <table>

                  <thead>

                      <tr>

                          <th>Today's List</th>

                          <th>Earnings</th>

                      </tr>

                  </thead>

                  <tbody>

                      <tr>

                          <td>Bike</td>

                          <td>Rs.80</td>

                      </tr>

                      <tr>

                          <td>Car</td>

                          <td>Rs.200</td>

                      </tr>
                      <tr>

                        <td>Bike</td>

                        <td>Rs.80</td>

                    </tr>
                    <tr>

                      <td>Bike</td>

                      <td>Rs.80</td>

                  </tr>

                      <!-- Add more rows as needed -->

                  </tbody>

              </table>

          </div>
            


          </div>
          <div class="chartgrid">
            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
          </div>
          

            

 

        </div>

 

    </div>

  
    <script>
      // Retrieve chart data from the context
      var dates = {{ dates|safe }};
      var daily_total_amounts = {{ daily_total_amounts|safe }};
  
      // Initialize an empty array to store the dataPoints
      var dataPoints = [];
  
      // Loop through the dates and daily_total_amounts to create dataPoints
      for (var i = 0; i < dates.length; i++) {
          var label = "Day " + (i + 1);
          var y = daily_total_amounts[i];
  
          // You can add conditions to check for highest and lowest values
          // For example, checking if it's the highest value and marking it with a triangle
          if (i === indexOfHighestValue(daily_total_amounts)) {
              dataPoints.push({ label: label, y: y, indexLabel: "\u2191 highest", markerColor: "red", markerType: "triangle" });
          }
          // Similarly, check for the lowest value and mark it with a cross
          else if (i === indexOfLowestValue(daily_total_amounts)) {
              dataPoints.push({ label: label, y: y, indexLabel: "\u2193 lowest", markerColor: "DarkSlateGrey", markerType: "cross" });
          }
          else {
              dataPoints.push({ label: label, y: y });
          }
      }
  
      // Function to find the index of the highest value in an array
      function indexOfHighestValue(arr) {
          return arr.indexOf(Math.max(...arr));
      }
  
      // Function to find the index of the lowest value in an array
      function indexOfLowestValue(arr) {
          return arr.indexOf(Math.min(...arr));
      }
  
      // Now, you can use the dataPoints array in your chart configuration
      var chart = new CanvasJS.Chart("chartContainer", {
          // Chart configuration options
          data: [{
              type: "line",
              dataPoints: dataPoints
          }]
      });
  
      chart.render();
  </script>
  
            

 <script>
  const progressBarContainer = document.querySelector('.progress-bar__container');

 

const progressBar = document.querySelector('.progress-bar');

 

const progressBarText = document.querySelector('.progress-bar__text');

 

 

 

const targetPercentage = {{available_slot_percentage}}; // You can set the desired percentage here

 

 

 

const getColor = (percentage) => {

 

    if (percentage <= 30) {

 

        return 'green';

 

    } else if (percentage >= 100) {

 

        return 'red';

 

    } else {

 

        return 'yellow';

 

    }

 

};

 

 

 

const setColor = (percentage) => {

 

    const color = getColor(percentage);

 

    progressBar.style.backgroundColor = color;

 

};

 

 

 

gsap.to(progressBar, {

 

    width: `${targetPercentage}%`,

 

    duration: 2,

 

    onUpdate: () => {

 

        const currentWidth = parseFloat(progressBar.style.width);

 

        const displayText = currentWidth === 100 ? 'Parking Full' : `${Math.round(currentWidth)}% full`;

 

        progressBarText.textContent = displayText;

 

        setColor(currentWidth);

 

    },

 

    onComplete: () => {

 

        progressBarText.style.display = "initial";

 

        progressBarContainer.style.boxShadow = '0 0 5px #4895ef';

 

    }

 

});
var bikecount = 20
var carcount = 30
document.getElementById('biketext').innerHTML = (bikecount)
document.getElementById('cartext').innerHTML = (carcount)

 
 </script>

 

      <script src="{% static 'owner/js/nav.js' %}"></script>

      <script src="{% static 'owner/js/status.js' %}"></script>

      

      </body>

    

</body>

</html>