{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static 'customer/css/adminLogin.css' %}">
    <title>Document</title>
	<style>
		.same_line{
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			gap:20px;
			margin: 10px 0px;
		}
	</style>
</head>
<body>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

    <!-- <script src="assets/js/adminLogin.js" defer></script> -->
<div class="wrapper">
	<div class="header">
		<ul>
			<li class="active form_1_progessbar">
				<div>
					<p>1</p>
				</div>
			</li>
			<li class="form_2_progessbar">
				<div>
					<p>2</p>
				</div>
			</li>
			<li class="form_3_progessbar">
				<div>
					<p>3</p>
				</div>
			</li>
		</ul>
	</div>
	<div class="form_wrap">
		
		<div class="form_2 data_info" style="display: block;">
			<h2>Parking Information</h2>
			<form method="POST" enctype="multipart/form-data" action="">
				{% csrf_token %}
				<div class="form_container">
					<div class="input_wrap">
						<label for="idSelect">Registration Type</label>

                        <select id="idSelect" class="select" name="parking_type" required>
                            <option  disabled selected>Select Your Registration Type:</option>
                            <option value="Personal">Personal</option>
                            <option value = Organization>Organization</option>
                          </select>
					</div>

					<div class="input_wrap">
						<label for="car_slots">Available Car Slots:</label>
						<input type="number" name="car_slot" class="input" id="car_slots" required>
					</div>
					<div class="input_wrap">
						<label for="bike_slots">Available Bike Slots:</label>
						<input type="number" name="bike_slot" class="input" id="bike_slots" required>
					</div>
					<div class="input_wrap">
						<label for="bike_cost">Hourly Bike Parking Cost</label>
						<input type="text" name="bike_charge" class="input" id="bike_cost" required>
					</div>

					<div class="input_wrap">
						<label for="car_cost">Hourly Car Parking Cost</label>
						<input type="text" name="car_charge" class="input" id="car_cost" required>
					</div>

					<div class="input_wrap same_line">
						<input type="checkbox" id="fullTime" name="full_time" value="full_time" onclick="checkFunction()" required>
                        <label for="full_time">24 Hour availability</label><br>
					</div>

					<div class="input_wrap" id="startTime">
                        <label for="start_time">Start Time</label><br>
						<input type="time"  name="opening_time" value="start_time" class="input" required>
					</div>
					<div class="input_wrap"  id="endTime" >
                        <label for="end_time">End Time</label><br>
						<input type="time" name="close_time" value="end_time" class="input" required>
					</div>
					<div class="input_wrap" id="startTime">
                        <label for="start_time">Latitude</label><br>
						<input type="text"  name="latitude" class="input" required>
					</div>
					<div class="input_wrap"  id="endTime" >
                        <label for="end_time">Longitude</label><br>
						<input type="text" name="longitude" class="input" required>
					</div>
					<div class="input_wrap"  id="endTime" >
                        <label for="iamge">Longitude</label><br>
						<input type="file" id="image" name="image" accept="image/*" required><br>					</div>
				</div>
				<div class="btns_wrap">
		
					<div class="common_btns form_2_btns">
						<button type="button" class="btn_back"><span class="icon"><ion-icon name="arrow-back-sharp"></ion-icon></span><a href="{% url 'register_account' %}">Back</a></button>
						<button type="submit" class="btn_next">Next<span class="icon"><ion-icon name="arrow-forward-sharp"></ion-icon></span></button>
					</div>
				</div>
			</form>
		</div>
		
	</div>
	
</div>

<script>

	// Function for hiding start and end task when the checkbox is ticked 
function checkFunction() {
    var checkBox = document.getElementById("fullTime");

    var timeInputStart = document.getElementById("startTime");
    var timeInputEnd = document.getElementById("endTime");

    if (checkBox.checked == true) {
        timeInputStart.style.display = "none";
        timeInputEnd.style.display = "none";
    } else {
        timeInputStart.style.display = "block";
        timeInputEnd.style.display = "block";  
    }
}
</script>
</body>
</html>